@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --backColor: #871420;
  --color: white;
  --padding: 1.2rem;
  --ff :'Merriweather',serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--ff);
}
.header {
  display: flex;
  background-color: var(--backColor);
}
.logoContainer {
  width: 60px;
  flex: 1;
}
.logoContainer img {
  width: inherit;
  margin-top: 3px;
  cursor: pointer;
}
.linksContainer {
  flex: 2;
}
.linksContainer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.linksContainer ul li {
  list-style: none;
  
}

.linksContainer ul li a {
  text-decoration: none;
  display: inline-block;
  color: var(--color);
  padding: var(--padding);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.linksContainer ul li a:hover{
  background-color: var(--color);
  color: var(--backColor);
  border-radius: 10px;
}
.searchContainer{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: var(--backColor);
  margin-top: 10px;
  padding: 5px;
}
.menuIcon{
  margin-left: 20px;
  font-size: 2rem;
  color: var(--color);
  cursor: pointer;
}
.inputBar{
  padding: 1rem;
  border-radius: 10px;
  border: none;
  width: 80%;
}
.searchIcon{
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.offerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
  gap: 10px;
  padding: 10px;
}
.offerContainer div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.mainOffer {
  grid-row: 1 / span2;
}
.categoryContainer h2{
  margin-bottom: 10px;
}
.categoryList {
  display: flex;
  overflow: scroll;
}
.categoryList::-webkit-scrollbar {
  display: none;
}
.categoryItem {
  width: 400px;
  height: auto;
  margin: 20px 10px;
  box-shadow: 0px 0px 5px rgb(100, 96, 96);
  border-radius: 15px;
  padding: var(--padding);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.categoryItem:hover{
  transform: scale(1.2);
}
.categoryItem img {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}
.categoryItem h3 {
  text-align: center;
}
.productList {
  display: flex;
  overflow: scroll;
}
.productList::-webkit-scrollbar {
  display: none;
}
.productContainer {
  width: 400px;
  height: auto;
  margin:20px 10px;
  box-shadow: 0px 0px 5px rgb(100, 96, 96);
  border-radius: 15px;
  padding: var(--padding);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.productContainer:hover{
  transform: scale(1.2);
}
.productContainer img {
  width: 100%;
  height: 70%;
  border-radius: 5px;
  object-fit: cover;
}
.productDescription {
  text-align: center;
}
.productName{
  font-size: 0.8rem;
}
.priceSection{
  font-size: 0.5rem;
}
.oldPrice {
  font-weight: normal;
  text-decoration: line-through;
  margin-left: 20px;
  
}
footer {
  background-color: var(--backColor);
  color: var(--color);
  display: flex;
  justify-content: space-around;
  padding: var(--padding);
}
footer div ul li {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
footer div ul li:hover{
  background-color: var(--color);
  color: var(--backColor);
  border-radius: 10px;
}
footer div ul {
  list-style-type: none;
}
.locationContainer ul li a{
  width: 100%;
  color: var(--color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.locationContainer ul li a:hover{
  background-color: var(--color);
  color: var(--backColor);
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .header {
    display: block;
  }
  .logoContainer{
    width: 100%;
    text-align: center;
  }
  .logoContainer img{
    width: 60px;
  }
  .linksContainer ul{
    display: block;
  }
  .linksContainer ul li a{
    width: 100%;
    text-align: center;
  }
  .categoryList,.productList{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 22%;
  }
  .categoryItem,.productContainer{
    height: 200px;
    width: 250px;
  }
  
  .offerContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh 50vh;
  }
  .mainOffer {
    grid-row: 1/2;
  }
   .productDescription{
    white-space: nowrap;
   }
  footer {
    flex-direction: column;
  }
}
