@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --backColor: #871420;
  --color: white;
  --padding: 1.2rem;
  --ff :'Merriweather',serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--ff);
}
.header {
  display: flex;
  background-color: var(--backColor);
}
.logoContainer {
  width: 60px;
  flex: 1;
}
.logoContainer img {
  width: inherit;
  margin-top: 3px;
  cursor: pointer;
}
.linksContainer {
  flex: 2;
}
.linksContainer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.linksContainer ul li {
  list-style: none;
  
}
.linksContainer ul li a {
  text-decoration: none;
  color: var(--color);
  padding: var(--padding);
  display: inline-block;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.linksContainer ul li a:hover{
  background-color: var(--color);
  color: var(--backColor);
  border-radius: 10px;
}
.searchContainer{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: var(--backColor);
  margin-top: 10px;
  padding: 5px;
}
.menuIcon{
  margin-left: 20px;
  font-size: 2rem;
  color: var(--color);
  cursor: pointer;
}
.inputBar{
  padding: 1rem;
  border-radius: 10px;
  border: none;
  width: 80%;
}
.searchIcon{
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.productContainer{
  padding: 10px;
}
.productList{
  display: flex;
  justify-content: space-around;
}
.productList img{
  width: 50%;
}
.productDescription h3{
  padding: var(--padding) 0;
}
.productDescription ul li{
  list-style-type: none;
}
.cartButton{
  margin-top: 5rem;
}
.cartButton input{
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background-color: var(--backColor);
  color: var(--color);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.cartButton input:hover{
  background-color: var(--color);
  color: var(--backColor);
}
.similarProductContainer{
  display: flex;
  gap: 10px;
  margin: 20px 10px;
}
.similarList{
  margin: 30px 20px;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.similarList:hover{
  transform: scale(1.2);
}
.similarList img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  padding: var(--padding);
  border-radius: 10px;
}
.similarDescription{
  text-align: center;
}
footer {
  background-color: var(--backColor);
  color: var(--color);
  display: flex;
  justify-content: space-around;
  padding: var(--padding);
}
footer div ul li {
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
footer div ul li:hover{
  background-color: var(--color);
  color: var(--backColor);
  border-radius: 10px;
}
footer div ul {
  list-style-type: none;
}
.locationContainer ul li a{
  width: 100%;
  color: var(--color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.locationContainer ul li a:hover{
  background-color: var(--color);
  color: var(--backColor);
  border-radius: 10px;
}

@media screen and (max-width:481px){
  .header{
    display: block;
    text-align: center;
  }
  .logoContainer{
    width: 100%;
  }
  .logoContainer img{
    width: 60px;
  }
  .linksContainer ul {
    display: block;
  }
  .linksContainer ul li a{
    width: 100%;
  }
  .productList{
    flex-direction: column;
   
  }
  .productList img{
    width: 100%;
    border-radius: 10px;
  }
  .cartButton{
    margin-top: 10px;
  }
  .similarContent{
    margin: 20px 0;
  }
 
  .similarProductContainer{
    overflow: scroll;
  }
  .similarProductContainer::-webkit-scrollbar{
    display: none;
  }
 
  .similarDescription{
    white-space: nowrap;
  }
  footer{
    flex-direction: column;
  }
}